/* AddCardForm.css */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.virtual-card {
  width: 90%;
  height: 200px;
  background: #333;
  border-radius: 12px;
  color: white;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.37);
  margin: 0 auto 30px auto;
  position: relative;
}

.card-chip {
  width: 50px;
  height: 35px;
  background: #cbba64;
  border-radius: 4px;
  position: absolute;
  top: 35%;
  left: 13%;
  transform: translateX(-50%);
}

.card-number-display {
  font-size: 20px;
  letter-spacing: 6px;
  text-align: center;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.card-details {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.input-group { margin-bottom: 18px; }

.input-group label { 
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}
.input-group input {
  width: 100%;
  padding: 18px;
  border: 1px solid #ecebf1;
  background-color: #ecebf1;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}
.input-group input.short-input {
  width: 45%;
  text-align: center;
}
.input-group input.shortest-input {
  width: 25%;
  text-align: center;
}

.card-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecebf1;
  border-radius: 8px;
  height: 55px; 
  cursor: text;
  gap: 6px;
}

.card-input-chunk {
  width: 50px !important;
  background: transparent !important;
  border: none !important;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
  padding: 0 !important;
  color: #333;
}

.card-input-container span {
  font-weight: bold;
  color: #333;
}

.password-input-container {
  display: flex;
  align-items: center;
  gap: 12px
}

.password-box {
  width: 45px !important;
  height: 45px !important;
  padding: 0 !important;
  background-color: #ecebf1 !important;
  border: none !important;
  border-radius: 8px !important;
  font-size: 20px !important;
  text-align: center !important;
  outline: none;
}

.password-dot {
  font-size: 24px;
  line-height: 1;
  color: #000;
  margin: 0 15px;
  position: relative;
  top: -4px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.back-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.submit-btn:disabled {
  background-color: #d3d3d3;
  color: #888;
  cursor: default;
}