.header-bar{
  background-color: black;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart_icon{
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 35px;
  padding-right: 20px;
}

.title-area h1{
  font-size: 50px;
  margin-bottom: 10px;
  padding-left: 4%;
}

.title-area p{
  font-size: 20px;
  font-weight: 500;
  padding-left: 4%;
}
