.card_container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 0 4% 40px 4%;
  width: 100%;
}

.card {
  container-type: inline-size;
  border: 2px solid #f1f1f1;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
  
.card-image {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
}

.card-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
  
.card-title {
  font-size: clamp(15px, 8cqw, 25px);
  margin: 0.2em 0;
  color: #333;
}

.card-description {
  font-size: clamp(8px, 5cqw, 15px);
  color:#9f9f9f;
  margin-bottom: 3px;
  flex-grow: 1;
  word-break: break-all;
  overflow-wrap: break-word;
}

.card-price{
  font-size: clamp(10px, 3.5vw, 20px);
  font-weight: bold;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  gap: 8px;
  margin-top: auto;
}

.card-button.payment {
  background-color: #ffe600;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.card-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 0.3em 0.8em;
  border-radius: 2em;
  cursor: pointer;
  font-size: clamp(8px, 6cqw, 16px);
  font-weight: bold;
  width: auto;
  min-width: 4em;
  align-self: flex-start;
  text-align: center;
  white-space: nowrap;
  margin-top: 0; 
}

.card-button.added{
  background-color: #e0e0e0;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
