.card-list-wrapper {
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

.card-list-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.card-list-header h2 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.card-list-content {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.empty-state {
  text-align: center;
  margin-top: 60px;
}

.empty-state p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.add-card-btn-large {
  width: 90%;
  height: 200px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #666;
  margin: 0 auto;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-list .add-card-btn-large {
  margin-top: 30px;
  margin-bottom: 15px;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-btn {
  display: block;
  width: 90%;
  margin: 25px auto 0 auto;
  padding: 10px;
  background-color: #fcf576;
  color: black;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}