.header-bar{
  background-color: black;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-content{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.cart_icon{
  color: white;
  cursor: pointer;
  width: 28px;
}

.cart-badge {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: white;
  color: black;
  font-size: 11px;
  font-weight: bolder;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-area {
  padding: 20px 4%;
}

.title-area h1{
  font-size: clamp(20px, 6vw, 40px);
  margin-bottom: 8px;
  margin-top: 0;
}

.title-area p{
  font-size: clamp(10px, 3vw, 20px);
  font-weight: bold;
}
