.card_container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 0 4% 40px 4%;
  width: 100%;
}

.card {
  border: 2px solid #f1f1f1;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}
  
.card-image {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
}

.card-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
  
.card-title {
  font-size: clamp(13px, 4vw, 20px);
  margin: 3px;
  color: #333;
}

.card-description {
  font-size: clamp(8px, 3vw, 15px);
  color:#9f9f9f;
  margin-bottom: 3px;
  flex-grow: 1;
  word-break: break-all;
  overflow-wrap: break-word;
}

.card-price{
  font-size: clamp(10px, 3.5vw, 18px);
  font-weight: bold;
  margin-bottom: 10px;
}

.card-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 6px 0;
  border-radius: 16px;
  cursor: pointer;
  font-size: clamp(8px, 3vw, 14px);
  width: 60px;
  align-self: flex-start;
  text-align: center;
}

.card-button.added{
  background-color: #e0e0e0;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
